.custom-template {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: -325px;
	width: 325px;
	height: max-content;
	display: block;
	z-index: 1;
	background: #ffffff;
	transition: all .3s;
	z-index: 1003;
	box-shadow: -1px 1px 20px rgba(69, 65, 78, 0.15);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	transition: all .5s;
}

.custom-template.open {
	right: 0px;
}

.custom-template .custom-toggle {
	position: absolute;
	width: 45px;
	height: 45px;
	background: rgb(88, 103, 221);
	top: 50%;
	left: -45px;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 1px solid #177dff;
	cursor: pointer;
	color: #ffffff;
	box-shadow: -5px 5px 20px rgba(69, 65, 78, 0.21);
}

.custom-template .custom-toggle i {
	font-size: 20px;
	animation: 1.3s spin linear infinite;
}

.custom-template .title{
    padding: 15px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-bottom: 1px solid #ebedf2;
    background: #5867dd;
}

.custom-template .custom-content{
	padding: 20px 15px;
	max-height: calc(100vh - 90px);
	overflow: auto;
}

.custom-template .switcher {
	padding: 5px 0;
}

.custom-template .switch-block h4 {
	font-size: 13px;
	font-weight: 600;
	color: #444;
	line-height: 1.3;
	margin-bottom: 0;
	text-transform: uppercase;
}

.custom-template .btnSwitch {
	margin-top: 20px;
	margin-bottom: 25px;
}

.custom-template .btnSwitch button {
	border: 0px;
	height: 20px;
	width: 20px;
	outline: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	padding: 0;
	border-radius: 50%;
	border: 2px solid #eee;
	position: relative;
	transition: all .2s;
}

.custom-template .btnSwitch button:hover{
	border-color: #0bf;
}

.custom-template .btnSwitch button.selected{
	border-color: #0bf;
}

.custom-template .img-pick {
	padding: 4px;
	min-height: 100px;
	border-radius: 5px;
	cursor: pointer;
}

.custom-template .img-pick img {
	height: 100%;
	height: 100px;
	width: 100%;
	border-radius: 5px;
	border: 2px solid transparent;
}

.custom-template .img-pick:hover img, .custom-template .img-pick.active img{
	border-color: #177dff;
}

.demo .btn, .demo .progress{
	margin-bottom: 15px !important;
}

.demo .form-check-label, .demo .form-radio-label{
	margin-right: 15px;
}

.demo .toggle, .demo .btn-group{
	margin-right: 15px;
}

.demo #slider{
	margin-bottom: 15px;
}

.table-typo tbody > tr > td{
	border-color: #fafafa;
}

.table-typo tbody > tr > td:first-child{
	min-width: 200px;
	vertical-align: bottom;
}

.table-typo tbody > tr > td:first-child p{
	font-size: 14px;
	color: #333;
}

.demo-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
	padding: 10px;
	transition: all .2s;
}

.demo-icon:hover{
	background-color: #f4f5f8;
	border-radius: 3px;
}

.demo-icon .icon-preview{
	font-size: 1.8rem;
	margin-right: 10px;
	line-height: 1;
	color: #333439;
}

body[data-background-color="dark"] .demo-icon .icon-preview {
	color: #969696;
}

.demo-icon .icon-class{
	font-weight: 300;
	font-size: 13px;
	color: #777;
}

body[data-background-color="dark"] .demo-icon .icon-class {
	color: #a9a8a8;
}

.form-show-notify .form-control{
	margin-bottom: 15px;
}

.form-show-notify label{
	padding-top: 0.65rem;
}

.map-demo {
	height: 300px;
}

#instructions li{
	padding: 5px 0;
}

.row-demo-grid{
	margin-bottom: 15px;
}

.row-demo-grid [class^="col"]{
	text-align: center;
}

.row-demo-grid [class^="col"] .card-body{
	background: #ddd;
}

.btnSwitch button[data-color="white"] {
	background-color: #fff;
}
.btnSwitch button[data-color="grey"] {
	background-color: #f1f1f1;
}
.btnSwitch button[data-color="black"] {
	background-color: #191919;
}
.btnSwitch button[data-color="dark"] {
	background-color: #1a2035;
}
.btnSwitch button[data-color="blue"] {
	background-color: #1572E8;
}
.btnSwitch button[data-color="purple"] {
	background-color: #6861CE;
}
.btnSwitch button[data-color="light-blue"] {
	background-color: #48ABF7;
}
.btnSwitch button[data-color="green"] {
	background-color: #31CE36;
}
.btnSwitch button[data-color="orange"] {
	background-color: #FFAD46;
}
.btnSwitch button[data-color="red"] {
	background-color: #F25961;
}
.btnSwitch button[data-color="dark2"] {
	background-color: #1f283e;
}
.btnSwitch button[data-color="blue2"] {
	background-color: #1269DB;
}
.btnSwitch button[data-color="purple2"] {
	background-color: #5C55BF;
}
.btnSwitch button[data-color="light-blue2"] {
	background-color: #3697E1;
}
.btnSwitch button[data-color="green2"] {
	background-color: #2BB930;
}
.btnSwitch button[data-color="orange2"] {
	background-color: #FF9E27;
}
.btnSwitch button[data-color="red2"] {
	background-color: #EA4d56;
}
.btnSwitch button[data-color="bg1"] {
	background-color: #fafafa;
}
.btnSwitch button[data-color="bg2"] {
	background-color: #fff;
}
.btnSwitch button[data-color="bg3"] {
	background-color: #f1f1f1;
}

@media screen and (max-width: 550px){
	.table-typo tr td{
		display: flex;
		align-items: center;
		word-break: break-word;
	}

	.table-typo tr td:first-child p{
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 576px){
	.custom-template .custom-content {
		overflow: auto;
	}
	.form-show-notify > .text-right, .form-show-validation > .text-right {
		text-align: left !important;
	}
}

@media screen and (max-width: 400px) {
	.custom-template {
		width: 85% !important;
		right: -85%;
	}
}


.margin-b{
	margin-bottom: 5px;
}

.pleft-0{
	padding-left: 0px;
}

.errorHiden{
	display: none;
}


div.required label:after {
    content: " *";
    color: red;
}



.btnMenu{
	background: #343432; 
	color: #FFFFFF; 
	padding: 7px 15px 0px 15px;
}

.formFecha {
    border: 1px solid #e6ecf5;
	height: 31px;
	padding-left: 10px;
    border-radius: 2px;
    box-shadow: none;
    height: 31px;
    font-size: 14px;
    color: #888da8;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
}

.first span{
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #007bff;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.prev span{
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #007bff;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.last span{
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #007bff;
	background-color: #fff;
	border: 1px solid #dee2e6;
}
.next span{
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #007bff;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.ghead{
	padding: 2px 10px !important; 
	background: #2E2E2E;
	border-radius: 5px 5px 0px 0px;
}

.gtitle{
	color: #FFFFFF;
	font-size: 12px !important;
}


input[type=date]{
	height: 28px;
}


.grid-view th a:after { 
	content: " "  url("../img/sort/sort.png");
}
	
/* icon sort */
.asc:after {
	content: " " url("../img/sort/sortup.png") !important;
}

.desc:after {
	content: " "  url("../img/sort/sortdown.png") !important;
}


.menuBotones {
	color: #FFFFFF; 
	margin-right: 5px; 
	font-size: 12px;
	margin-top: 3px;
}

.menuBotones:hover {
	color: #FFFFFF; 
	margin-right: 5px; 
	font-size: 12px;
	margin-top: 3px;
}


.menuBotones:focus {
	color: #FFFFFF; 
	margin-right: 5px; 
	font-size: 12px;
	margin-top: 3px;
}



.disabled-select {
  background-color: #d5d5d5;
  opacity: 0.5;
  border-radius: 3px;
  cursor: not-allowed;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

select[readonly].select2-hidden-accessible + .select2-container {
  pointer-events: none;
  touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
  background: #eee;
  box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
  display: none;
}

.imgshadow{
	-webkit-box-shadow: 0px 0px 8px -4px #0B1538; 
box-shadow: 0px 0px 8px -4px #0B1538;
}

footer {
	background: transparent !important;
  
}

table.aym { 
    border-collapse: separate; 
    border-spacing: 0 10px; 
    margin-top: -5px; /* correct offset on first border spacing if desired */
}

table.aym tr {
	border:1px solid #DCDCDC;
	-webkit-box-shadow: 0px 0px 8px -5px #000000; 
	box-shadow: 0px 0px 8px -5px #000000;
	border-radius: 10px;
}
table.aym td {
	font-size:13px;
	font-family:'Montserrat', sans-serif;
    padding: 4px 15px !important;
    background-color: #FFFFFF;
	font-style:normal;
	font-weight: 600;
	line-height:1.5;
	letter-spacing:0;
	
}
table.aym td:first-child {
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
table.aym td:last-child {
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

table.aym thead tr th a{
	color: #909090 !important;
	border-spacing: 0 5px !important;
	
}

table.aym th{
	height: 0px;
	padding-left: 20px !important;
	font-size: 14px;
	font-family:'Montserrat', sans-serif;
}

table.aym thead tr{
	border:none;
	box-shadow:none;
}

table.aym thead td{
	border:none;
	box-shadow:none;
}


.tblresponsive{	
}
@media only screen and (min-width:766px) and (max-width:940px) {
	.tblresponsive   { 
		width: calc(83vw) !important;
	}
}

@media only screen and (min-width:740px) and (max-width:765px) {
	.tblresponsive   { 
		width: calc(74vw) !important;
	}
}

@media only screen and (min-width:611px) and (max-width:739px) {
	.tblresponsive   { 
		width: calc(80vw) !important;
	}
}

@media only screen and (min-width:273px) and (max-width:610px) {
	.tblresponsive  { 
		width: calc(96vw) !important;
	}
	
}

@media only screen and (min-width:273px) and (max-width:940px) {	
	/*======GENERAL======*/
	.tblresponsive thead, tbody, th, td, tr { 
		display: block; 
		width: 100% !important;
	}
	
	.tblresponsive td, .tblresponsive th{
		height: auto !important;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	.tblresponsive thead tr th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table.aym td:first-child {
		border-top-left-radius: 0px; 
		border-bottom-left-radius: 0px;
		height: auto !important;
	}
	
	table.aym td:last-child {
		border-bottom-right-radius: 0px; 
		border-top-right-radius: 0px; 
	}
	
	.tblresponsive thead tr {
		margin-bottom: 10px;
	}
	
	.tblresponsive tbody tr {
		border-bottom: 1px solid #DBDBDB;
		margin-bottom: 10px;
	}
		
	.tblresponsive td:before { 
		/* Now like a table header */
		overflow: auto; 
		white-space: pre-line;	
		content: attr(data-th) " ";
		font-weight: bold;
	}	
	
}
.checkLabel{
	clear: both;
    vertical-align: bottom;
    width: 100%;
}

.editField{
	cursor:pointer;
}



.progress { height: 4px; background-color: #eaeef3; border-radius: 4px; margin-bottom: 10px; }

.progress.progress-sm { height: 8px; }

.progress.progress-md { height: 15px; }

.progress.progress-lg { height: 20px; }

.progress-bar { background-color: #888da8; }

.progress-primary .progress-bar { background-color: #7774e7; }

.progress-success .progress-bar { background-color: #aeca37; }

.progress-info .progress-bar { background-color: #0f9aee; }

.progress-warning .progress-bar { background-color: #ffcc00; }

.progress-danger .progress-bar { background-color: #ff3c7e; }


.form-wizard .nav-pills { position: relative; }

.form-wizard .nav-pills > li > a { z-index: 1; opacity: 1; position: relative; display: block; }

.form-wizard .nav-pills > li > a .step { width: 45px; line-height: 28px; height: 45px; border-radius: 50%; border: 4px solid #00a0df; background: #00a0df; color: #888da8; display: inline-block; }

.form-wizard .nav-pills > li > a .title { position: absolute; width: 100%; left: 0; bottom: -20px; }

.form-wizard .nav-pills > li > a.active { background-color: transparent; border-color: transparent; color: #888da8; }

.form-wizard .nav-pills > li > a.active .step { background-color: #003a5d; border-color: #003a5d; color: #ffffff; }

.form-wizard .progress { position: absolute; display: inline-block; top: 24px; left: 0; right: 0; margin: auto; height: 5px; border-radius: 0; }

.form-wizard .tab-content { margin-top: 90px; margin-bottom: 30px; }


.spacio{
	margin-bottom: 60px;
}



/*      Toggle     */
.checkbox label .toggle, .checkbox-inline .toggle {
  margin-left: -20px;
  margin-right: 5px; }

.toggle {
  position: relative;
  overflow: hidden;
  padding: .6rem .5rem; }

.toggle-group, .toggle-off, .toggle-on {
  position: absolute;
  top: 0;
  bottom: 0; }

.toggle input[type=checkbox] {
  display: none; }

.toggle-group {
  width: 200%;
  left: 0;
  transition: left .35s;
  -webkit-transition: left .35s;
  -moz-user-select: none;
  -webkit-user-select: none; }

.toggle.off .toggle-group {
  left: -100%; }

.toggle-on {
  left: 0;
  right: 50%;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding-left: 12px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  font-size: 11px !important; }

.toggle-off {
  left: 60%;
  right: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  font-size: 11px !important;
  color: #ffffff !important; }

.toggle-handle {
  position: relative;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  width: 0;
  border-width: 0 1px; }

.toggle.btn {
  min-width: 94px !important;
  height: 30px !important; 
	border-radius:20px;
}

.toggle-on.btn {
  padding-right: 24px; }

.toggle-off.btn {
  padding-left: 24px; }

.toggle.btn-lg {
  min-width: 79px;
  min-height: 45px; }

.toggle-on.btn-lg {
  padding-right: 31px; }

.toggle-off.btn-lg {
  padding-left: 31px; }

.toggle-handle.btn-lg {
  width: 40px; }

.toggle.btn-sm {
  min-width: 50px;
  min-height: 30px; }

.toggle-on.btn-sm {
  padding-right: 20px; }

.toggle-off.btn-sm {
  padding-left: 20px; }

.toggle.btn-xs {
  min-width: 35px;
  min-height: 22px; }

.toggle-on.btn-xs {
  padding-right: 12px; }

.toggle-off.btn-xs {
  padding-left: 12px; }


.selectBlue{
	height: 37px;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 0 0 0 transparent!important;
    border: 1px solid #00a3e0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .2px;
    color: #00a3e0;
	padding: 10px 10px;
	width: 100%;
}

.formData{
	height: 35.1px;
    border-radius: 23px!important;
    background-color: #f2f5f7!important;
    border: 0!important;
    box-shadow: 0 0 0 0 transparent!important;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0;
    color: #43b02a;
	width: 200px !important;
}

.btnBuscar{
	height: 35.1px;
    border-radius: 23px!important;
    border: 0;
    box-shadow: 0 0 0 0 transparent!important;
    background-color: #43b02a;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.4px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: .5px;
    text-align: center;
    color: #fff;
	width: 80px !important;
}

.titleSeccion{
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .1px;
    color: #000;
}

.btnAddBlue{
	width: 100%;
    height: 37px;
    background-color: #fff;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .2px;
    color: #00a3e0;
	border:none;
	cursor: pointer;
}

.delshadow{
	box-shadow: none !important;
	-webkit-box-shadow: 2px 6px 15px 0px rgb(0 0 0 / 0%) !important;
}

.addData{
	background-color: #00a3e0;
	color: #fff;
	border-radius: 28px;
	 font-family: 'Montserrat', sans-serif;
	font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .2px;
}


.txtFont{
	 font-family: 'Montserrat', sans-serif;
	font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .2px;
}


::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background-color: rgb(247, 247, 247);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(169, 169, 169);
    background-clip: padding-box;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(169, 169, 169);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(169, 169, 169);
}

.page-item.active .page-link{
	background-color:#003a5d;
	border-color:#003a5d;
}

.fontBold{
	font-weight:700 !important;
}