body {transition: opacity ease-in 0.2s; } 
body[unresolved] {opacity: 0; display: block; overflow: hidden; position: relative; }

.card-img-top {
    width: 70% !important;
    height: 300px !important;
}

.imgdiv {
    align-items: center !important;
    padding-left: 20% !important;
}

.img-border {
            border-radius: 5px;
        }